/* Base for label styling */
.todo-check{
  input[type=checkbox]:not(:checked), input[type=checkbox]:checked {
    position: absolute;
    left: -9999px;
  }
  input[type=checkbox]:not(:checked) + label, input[type=checkbox]:checked + label {
    position: relative;
    // padding-left: 1.95em;
    cursor: pointer;
  }
  
  input[type=checkbox]:not(:checked) + label:before,
  input[type=checkbox]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem; 
    height: 1.5rem;
    background: white;
  }

  input[type=checkbox]:not(:checked) + label:after,
  input[type=checkbox]:checked + label:after {
    content: '✔';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem; 
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    background: $primary;
    color: white;
  }

  /* checked mark aspect changes */
  input[type=checkbox]:not(:checked) + label:after {
    opacity: 0;
  }
  input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}
