@import './_variables.scss';
@import './_checkbox.scss';
* {
  box-sizing: border-box;
  // outline:    solid 0.25rem rgba(236, 52, 52, 0.5) !important;
}

body {
  background-color: #E1E1E1;
}

.container {
  width: 100%;
  margin: 0 auto; 
}

// 

.completed {
  text-decoration: line-through
}

// 

.todo-nav {
  .todo-nav-items {
    display: flex;
    justify-content: space-between;
    max-width: $main-layout-width;
    span {
      flex: 1;
      padding: 25px 0;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      color: $darken-primary;
      &:active, &:hover, &.active {
        box-shadow: 0 -5px $darken-primary inset;
      }
      &.active {
        color: white;
      }
    }
  }
}

.todo-form {
  margin: 20px auto 0;
  box-shadow: 0px 4px 4px $gray-200;
  max-width: $main-layout-width;
  .todo-input-dummy {
    position: relative;
    padding: 15px 20px 15px 70px;
    border: 2px solid $gray-200;
    font-size: 1.5rem;
    background-color: white;
    color: $gray-200;
    cursor: text;
    i {
      position: absolute;
      left: 30px;
    }
  }
  .todo-input {
    display: none;
    padding: 1rem 1.4rem;
    border-bottom: 2px solid $gray-200;
    background-color: $gary-242;
    input {
      @extend %input-theme;
      width: 100%;
      background-color: $gary-242;
      font-size: 1.5rem;      
    }
  }
  .todo-detail {
    display: none;
    padding: 1.4rem 3rem;
    background-color: $gary-242;
    .todo-detail-title {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .todo-detail-formident {
      padding-left: 2rem;
      input[type=date] {
        @extend %input-theme;
        width: 18rem;
      }
      button {
        background: $primary;
        height: 32px;
        width: 32px;
        line-height: 32px;
        border-style: none;
        text-align: center;
        color: white;
      }
      textarea {
        @extend %input-theme;   
        resize: none;
        width: 18rem;
      }
    }
  }
  .todo-buttons {
    display: none;
    button {
      padding: 15px;
      font-size: 1.5rem;
      border: 0;
      outline: 0;
      cursor: pointer;
      &:first-child {
        background: white;
        color: $text-danger;
      }
      &:last-child {
        background: $primary;
        color: white;
      }
    }
  }
}

.todo-focus {
  position: relative;
  .todo-input-dummy {
    display: none;
  }
  .todo-input, .todo-detail {
    display: block;
  }
  .todo-buttons {
    display: flex;
  }
}

.todo-list {
  margin-top: 1.5rem;
  max-width: $main-layout-width;
  .todo-item {
    background: $gary-242;
    padding: 1rem 1.4rem;
  }
  .todo-header {
    display: flex;
    line-height: 1.5rem;
    span {
      margin-left: 2rem;
      font-size: 1.5rem;
    }
    i {
      font-size: 1.5rem;
      margin-right: 1.5rem;
    }
    .fa-star {
      margin-left: auto;
      font-size: 1.5rem;
    }
  }
  .todo-footer {
    margin-top: 1rem;
    margin-left: 2rem;
    color: $gray-117;
    > * {
      margin-right: 1rem;
    }
  }
}

// // todo-item
// .todo-item {

//   position: relative;
//   &.stared {
//     background-color: $lighten-warning;
//   }
//   &.active {
//     box-shadow: 0 4px 4px rgba(black, .25)
//   }
//   & + .todo-item {
//     margin-top: 24px;
//   }

//   // 第二層容器
//   .todo-header {
//     display: flex;
//     padding: 24px 32px 18px 32px;
//   }
//   .todo-footer {
//     padding: 0 32px 24px 72px;
//   }
//   .todo-content {
//     border-top: 2px solid $gray-200;
//     padding: 24px 72px 24px 72px;
//   }

//   // header
//   .todo-check {
//     $checkbox-size: 24px;
//     width: 40px;
//     input {
//       position: absolute;
//       opacity: 0;
//       & + label {
//         position: relative;
//         cursor: pointer;
//         padding: 0;
//       }
//       & + label:before {
//         content: '';
//         display: inline-block;
//         vertical-align: text-top;
//         width: $checkbox-size;
//         height: $checkbox-size;
//         background: white;
//       }
//       &:hover + label:before, &:checked + label:before {
//         background: theme-color('primary');
//       }
//       &:focus + label:before {
//         box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
//       }
//       &:checked + label:after {
//         content: '';
//         position: absolute;
//         left: 4px;
//         top: 12px;
//         background: white;
//         width: 3px;
//         height: 3px;
//         box-shadow: 
//           2px 0 0 white,
//           4px 0 0 white,
//           6px 0 0 white,
//           6px -2px 0 white,
//           6px -4px 0 white,
//           6px -6px 0 white,
//           6px -8px 0 white,
//           6px -10px 0 white,
//           6px -12px 0 white;
//         transform: rotate(45deg);
//       }
//     }
    
//   }
//   .todo-title {
//     flex: 1;
//     font-size: 1.5rem;
//   }
//   .todo-control {
//     font-size: 1.5rem;
//   }
//   // footer
//   .todo-footer {
//     // margin-left: 40px;
//   }

//   // todo-content
//   .todo-row {
//     display: flex;
//     & + .todo-row {
//       margin-top: 24px;
//     }
//   }
//   .todo-icon {
//     width: 24px;
//   }
//   .todo-form-control {
//     flex: 1;
//   }

//   // controller
//   .handle {
//     position: absolute;
//     left: 5px;
//     top: 50%;
//     opacity: 0;
//     transform: translateY(-50%);
//     cursor: move;
//   }
//   &:hover .handle {
//     opacity: 1;
//   }
// }


// .todo-nav {
//   a {
//     color: $darken-primary;
//     font-size: 1.5rem;
//     text-decoration: none;
//     display: block;
//     padding-top: 18px;
//     padding-bottom: 18px;
//     flex: 1;
//     text-align: center;
//     &:active, &:hover, &.active {
//       box-shadow: 0 -5px $darken-primary inset;
//       // border-bottom: 5px solid $darken-primary;
//     }
//     &.active {
//       color: white;
//     }
//   }
// }

// .sortable-ghost {
//   opacity: .5;
//   box-shadow: 0 0 0 2px blue;
// }
// .draggable .handle {
//   cursor: move;
// }