@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
h1 {
  color:white;
  text-align:center;
  font-family: 'Press Start 2P', cursive;  
}
.boy-centerbox {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.boy-form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.boy-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.boy-form button {
  font-family: 'Press Start 2P', cursive;  
  text-transform: uppercase;
  outline: 0;
  background: rgba(14,16,78,1);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.boy-form button:hover,.boy-form button:active,.boy-form button:focus {
  color: rgba(106,246,251,1);
}
.boy-form .message {
  margin: 15px 0 0;
  color: rgba(14,16,78,1);
  font-size: 12px;
}
.boy-form .message a {
  font-family: 'Press Start 2P', cursive;  
  color: rgba(106,246,251,1);
  text-decoration: none;
  background-color: rgba(14,16,78,1);
}

body {
  background: rgba(106,246,251,1); /* fallback for old browsers */
  background: linear-gradient(135deg, rgba(106,246,251,1) 0%, rgba(106,246,251,1) 50%,rgba(14,16,78,1) 51%,rgba(14,16,78,1) 100%);
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}